name: Build and Push Docker Image

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/varify:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/varify:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/varify:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64

      - name: Image digest
        run: echo "Docker image built with digest ${{ steps.docker_build.outputs.digest }}"
